<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>

    <body>
        <div class="header-wrapper">
            <img src="/images/fp-logo.png" alt="fp_logo" />
            <span><strong>OnlineStore</strong></span>
            <div class="categories-nav">
                <a href="/mens">Mens</a>
                <a href="/womens">Womens</a>
            </div>
        </div>
    </body>
</html>
