/* General */

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

.rem-p-m {
    margin: 0;
    padding: 0;
}

.rem-margin {
    margin: 0;
}

/* Header */

.logo {
    width: 45px;
    height: 50px;
}

.promotion {
    background-color: red;
    color: white;
}

.sub-menu {
    background-color: black;
    color: white;
    height: 35px;
    padding-top: 5px;
}

/* PDP */

.btn-red {
    background-color: red;
    color: white;
    padding: 10px;
}

#size-menu > * {
    width: 30px;
    height: 30px;
    color: grey;
    text-align: center;
    padding-top: 3px;
    margin: 0;
}

#size-menu li:hover {
    background-color: white;
    cursor: pointer;
}

.size-menu-active {
    border-bottom: 3px solid red;
    background-color: white;
}

.sub-product-info {
    padding: 10px 0;
}

.color-box {
    width: 30px;
    height: 30px;
}
