/* General */

body {
    font-family: 'Montserrat', sans-serif;
}

.noselect {
    user-select: none;
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

.rem-p-m {
    margin: 0;
    padding: 0;
}

.rem-padding {
    padding: 0;
}

.rem-margin {
    margin: 0;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
}

.bigger-arrow {
    border: solid #666666;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 15px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* Header */

#navbar_wrapper {
    font-size: 16pt;
}

.logo {
    width: 55px;
    height: 60px;
}

.center-logo {
    margin-left: auto;
    margin-right: auto;
    width: 55px;
}

.promotion {
    background-color: red;
    color: white;
}

.sub-menu {
    background-color: black;
    color: white;
    height: 35px;
    padding-top: 5px;
}

.text-grey {
    color: grey;
}

.text-black {
    color: black;
}

/* PDP */

/* info section */

.product-price {
    color: grey;
}

.btn-red {
    text-decoration: none;
    text-align: center;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 0;
}

.btn-red:hover {
    color: white;
    background-color: rgb(235, 0, 0);
}

.color-menu-active {
    outline: 1px solid red;
    outline-offset: 1px;
}

.size-menu > * {
    width: 30px;
    height: 30px;
    color: grey;
    text-align: center;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.size-menu li:hover {
    cursor: pointer;
    border-bottom: 3px solid red;
}

.size-menu-active {
    border: 1px solid red;
    border-bottom: 3px solid red;
    color: black;
}

.color-box {
    width: 25px;
    height: 25px;
    border: 1px solid lightgrey;
}

.color-box:hover {
    cursor: pointer;
}

.quantity-table td {
    border: 1px solid lightgrey;
    border-collapse: collapse;
}

#minus,
#quantity,
#plus {
    width: 35px;
    height: 50px;
    background-color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#quantity {
    width: 45px;
}

#minus:hover,
#plus:hover {
    background-color: lightgrey;
    cursor: pointer;
}

hr {
    margin: 10px 0;
}

.main-info-property {
    margin: 0;
    padding-bottom: 10px;
}

.small-icon {
    width: 20px;
    height: 20px;
}

.small-icon:hover {
    cursor: pointer;
}

.wishlist-btn:hover {
    cursor: pointer;
}

.mobile-share-menu {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.mobile-share-menu img {
    width: 70px;
    height: 70px;
}

.mobile-share-menu > img:not(:last-child) {
    margin-right: 50px;
}

.mobile-share-menu img:hover {
    cursor: pointer;
}

/* image section */

.small-pictures > * {
    width: 125px;
    height: auto;
    margin-right: 7px;
    margin-left: 0;
}

.small-pictures > img:hover {
    cursor: pointer;
    outline: 1px solid red;
}

.small-pictures > *:not(:last-child) {
    margin-bottom: 5px;
}

.active-picture {
    outline: 1px solid red;
}

#big-image {
    height: inherit;
    width: inherit;
    max-height: 700px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.arrow-box {
    width: 125px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-box:hover {
    cursor: pointer;
}

/* mobile carousel */

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.swiper-pagination {
    position: relative !important;
}

.swiper-pagination > *:not(:last-child) {
    margin-right: 10px;
}

.swiper-pagination .swiper-pagination-bullet-active {
    color: grey !important;
    background-color: grey !important;
    opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet {
    border: 1px solid grey;
    color: white;
    background-color: white;
    opacity: 1;
}

/* description section */

#description,
.description {
    padding-top: 20px;
}

.long_description ul {
    list-style-type: square;
}

.toggler {
    width: 35px;
    height: 35px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash {
    background-color: grey;
    width: 13px;
    height: 2.5px;
}

.toggler:hover {
    cursor: pointer;
    background-color: lightgray;
}

/* PLP */

.products-wrapper {
    margin-top: 8px;
}

.product-image {
    width: 100%;
    height: auto;
    margin-bottom: 4px;
}

.product-wrapper {
    padding-bottom: 35px;
}

.product-body {
    padding-bottom: 15px;
    position: relative;
}

.product-body:hover {
    cursor: pointer;
    outline: 2px solid darkgrey;
}

.category-product-name-wrapper,
.category-product-price,
.product-color-menu {
    padding-left: 10px;
}

.category-name {
    border-right: 1px solid lightgrey;
    font-weight: bold;
    font-size: 32pt;
    text-transform: uppercase;
    margin-right: 13px;
    padding-right: 13px;
}

.category-items-count {
    font-size: 16pt;
}

.top-hr {
    margin-top: 0;
    margin-bottom: 25px;
}

.refine-text {
    padding-left: 8px;
    font-size: 14pt;
}

.filter-title {
    padding-left: 12px;
    font-size: 18pt;
    font-weight: bold;
}

.filter-title > * {
    margin-top: 8px;
    margin-bottom: 20px;
}

.filter-options {
    padding-left: 33px;
}

.filter-options-text {
    font-size: 14pt;
    color: grey;
}

.filter-options-text > * {
    margin-bottom: 20px;
}

.filter-options-text > *:hover {
    color: black;
    cursor: pointer;
}

.filter-active::before {
    content: '';
    position: absolute;
    margin-left: -20px;
    transform: rotate(45deg);
    height: 13px;
    width: 9px;
    border-bottom: 3px solid red;
    border-right: 3px solid red;
    margin-top: 3px;
}

.filter-active {
    color: black;
}

.filter-toggler {
    width: 25px;
    height: 25px;
    background-color: #f5f5f5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999999;
    user-select: none;
}

.btn-reset {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    color: gray;
    border-radius: 3px;
    width: 200px;
    height: 30px;
    font-size: 13pt;
    margin-left: auto;
    margin-right: auto;
}

.btn-reset:hover {
    background-color: grey;
}

.filter-size-menu,
.filter-color-menu {
    margin-left: auto;
    margin-right: auto;
}

.categories-wrapper hr {
    margin: 0;
}

.category-product-name-wrapper {
    font-size: 14pt;
}

.category-product-price {
    font-size: 20pt;
    color: #888888;
}

.slider {
    margin-bottom: 30px;
    margin-left: 33px;
}

.mobile-filter-menu-opener {
    height: 85px;
    background-color: #efefef;
    font-size: 34pt;
    padding: 0 23px;
    color: #666666;
}

.mobile-filter-menu-closer {
    height: 90px;

    font-size: 32pt;
    background-color: black;
    color: white;
}

.mobile-filter-menu-closer .bigger-arrow {
    border-color: white;
}

/* lg or bigger breakpoint custom classes */

@media only screen and (min-width: 992px) {
    /* PDP */
    .main-menu {
        padding: 0 55px;
    }

    .product-name,
    .product-price,
    .description-label {
        font-size: 30pt;
    }

    .product-name,
    .wishlist-btn,
    .description-label,
    .btn-red {
        font-weight: bold;
    }

    .item-number,
    .main-info-property,
    .description-text {
        font-size: 14pt;
    }

    .size-menu,
    .quantity-table,
    .btn-red {
        font-size: 18pt;
    }

    .wishlist-btn {
        font-size: 13pt;
    }

    /* PLP */
}

/* lg or smaller breakpoint custom classes */

@media only screen and (max-width: 992px) {
    /* PDP */

    #main-container-pdp,
    #description-container {
        padding: 0 45px;
    }

    .quantity-menu,
    .size-menu,
    .color-menu {
        padding-left: 30px;
    }

    .description {
        margin-bottom: 10px;
    }

    .wishlist-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product-name,
    .product-price,
    .description-label {
        font-size: 48pt;
    }

    .product-name,
    .wishlist-btn,
    .description-label,
    .btn-red {
        font-weight: bold;
    }

    .item-number,
    .main-info-property,
    .description-text {
        font-size: 22pt;
    }

    #main-size-menu {
        font-size: 18pt;
    }

    .quantity-table {
        font-size: 32pt;
    }

    .wishlist-btn,
    .btn-red {
        font-size: 36pt;
    }

    .color-box {
        width: 60px;
        height: 60px;
    }

    #minus,
    #quantity,
    #plus {
        width: 75px;
        height: 75px;
    }

    .size-menu > * {
        width: 80px;
        height: 80px;
        font-size: 25pt;
    }

    .toggler {
        width: 75px;
        height: 75px;
    }
    #quantity {
        width: 100px;
    }

    .wishlist-btn {
        padding: 15px 0;
        margin-left: auto;
        margin-right: auto;
    }

    .color-menu-active {
        outline: 2px solid red;
        outline-offset: 2px;
    }

    .size-menu-active {
        border: 2px solid red;
        border-bottom: 10px solid red;
    }

    .quantity-table td {
        border: 2px solid lightgrey;
    }

    /* PLP */

    .products-wrapper {
        padding: 16px 50px 0 50px;
    }

    .category-product-name-wrapper {
        font-size: 28pt;
        padding-top: 44px;
    }

    .category-product-price {
        font-size: 32pt;
    }

    .catalog-color-menu > * {
        width: 29px;
        height: 29px;
    }
    .catalog-color-menu {
        position: absolute;
        right: 0;
    }
}
